html {
    display: block;
}

body{
    
    background-color: #DCDCDC;
}

body {
    display: block;
    margin: 0px;
}

.wrap{
    width: 80%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: #91a3b0;
}
.container{
    padding: 5px;
}
table{
    margin: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: #E6E6FA;
}

button{
    width: 50px;
    font-family: sans-serif;
    height: 30px;
    background-color: white;
    border-radius: 7px;
}